# Hexo Configuration

# Site
title: Ghost-Author
subtitle: '一间可可爱爱的文字小屋'
description: 'Ghost-Author 的个人博客，记录生活与灵感。'
author: Ghost-Author
language: zh-CN
timezone: ''

# URL
url: https://ghost-author.github.io/ryuho
root: /ryuho/
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md
default_layout: post
titlecase: false
external_link:
  enable: true
  field: site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: true
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
date_format: YYYY-MM-DD
time_format: HH:mm:ss
updated_option: 'mtime'

# Pagination
per_page: 10
pagination_dir: page

# Theme
theme: minimal

# Deployment
deploy:
  type: ''

# Extensions
feed:
  type: atom
  path: atom.xml
  limit: 20
sitemap:
  path: sitemap.xml
  rel: true
robots:
  useragent: '*'
  allow:
    - /
  sitemap: https://ghost-author.github.io/ryuho/sitemap.xml
