<header class="site-header">
  <div class="container header-inner">
    <a class="logo" href="<%= url_for('/') %>"><%= config.title %></a>
    <nav class="nav">
      <a href="<%= url_for('/about/') %>">关于</a>
      <a href="<%= url_for('/archives/') %>">归档</a>
    </nav>
  </div>
</header>
