<section class="archive">
  <h1>标签</h1>
  <div class="tag-cloud">
    <% site.tags.each(function(tag){ %>
      <a class="tag" href="<%= url_for(tag.path) %>">
        <span class="tag-name"><%= tag.name %></span>
        <span class="tag-count"><%= tag.length %></span>
      </a>
    <% }) %>
  </div>
</section>
